Connected Services/ServicioGloom/ImplementacionServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ImplementacionServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioAdministrador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioAdministrador_Response_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="IServicioAdministrador_Response_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ResponseResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_AgregarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_AgregarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_AgregarJugador_ManejadorExcepcionesFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" name="detail" element="q1:ManejadorExcepciones" />
  </wsdl:message>
  <wsdl:message name="IJugador_ActualizarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_ActualizarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ActualizarJugador_ManejadorExcepcionesFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" name="detail" element="q2:ManejadorExcepciones" />
  </wsdl:message>
  <wsdl:message name="IJugador_AutenticarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_AutenticarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_AutenticarJugador_ManejadorExcepcionesFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" name="detail" element="q3:ManejadorExcepciones" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugador_ManejadorExcepcionesFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" name="detail" element="q4:ManejadorExcepciones" />
  </wsdl:message>
  <wsdl:portType name="IServicioAdministrador">
    <wsdl:operation name="Response">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioAdministrador/Response" message="tns:IServicioAdministrador_Response_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioAdministrador/ResponseResponse" message="tns:IServicioAdministrador_Response_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IJugador">
    <wsdl:operation name="AgregarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/AgregarJugador" message="tns:IJugador_AgregarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/AgregarJugadorResponse" message="tns:IJugador_AgregarJugador_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJugador/AgregarJugadorManejadorExcepcionesFault" name="ManejadorExcepcionesFault" message="tns:IJugador_AgregarJugador_ManejadorExcepcionesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ActualizarJugador" message="tns:IJugador_ActualizarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ActualizarJugadorResponse" message="tns:IJugador_ActualizarJugador_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJugador/ActualizarJugadorManejadorExcepcionesFault" name="ManejadorExcepcionesFault" message="tns:IJugador_ActualizarJugador_ManejadorExcepcionesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/AutenticarJugador" message="tns:IJugador_AutenticarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/AutenticarJugadorResponse" message="tns:IJugador_AutenticarJugador_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJugador/AutenticarJugadorManejadorExcepcionesFault" name="ManejadorExcepcionesFault" message="tns:IJugador_AutenticarJugador_ManejadorExcepcionesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugador" message="tns:IJugador_ObtenerJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorResponse" message="tns:IJugador_ObtenerJugador_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorManejadorExcepcionesFault" name="ManejadorExcepcionesFault" message="tns:IJugador_ObtenerJugador_ManejadorExcepcionesFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioAdministrador" type="tns:IServicioAdministrador">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioAdministrador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Response">
      <soap12:operation soapAction="http://tempuri.org/IServicioAdministrador/Response" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IJugador" type="tns:IJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AgregarJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/AgregarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExcepcionesFault">
        <soap12:fault use="literal" name="ManejadorExcepcionesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ActualizarJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ActualizarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExcepcionesFault">
        <soap12:fault use="literal" name="ManejadorExcepcionesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AutenticarJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/AutenticarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExcepcionesFault">
        <soap12:fault use="literal" name="ManejadorExcepcionesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ManejadorExcepcionesFault">
        <soap12:fault use="literal" name="ManejadorExcepcionesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImplementacionServicio">
    <wsdl:port name="NetTcpBinding_IServicioAdministrador" binding="tns:NetTcpBinding_IServicioAdministrador">
      <soap12:address location="net.tcp://localhost:8090/ServicioGloomm/ServicioGloom" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/ServicioGloomm/ServicioGloom</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>NMH14\nmh14</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IJugador" binding="tns:NetTcpBinding_IJugador">
      <soap12:address location="net.tcp://localhost:8090/ServicioGloomm/ServicioGloom" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/ServicioGloomm/ServicioGloom</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>NMH14\nmh14</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>