Connected Services/ServicioGloom/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClases" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" />
  <xs:element name="AgregarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="jugador" nillable="true" type="q1:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="jugador" nillable="true" type="q2:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="jugador" nillable="true" type="q3:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AutenticarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="ObtenerJugadorResult" nillable="true" type="q4:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarJugadoresPorNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuarioParcial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarJugadoresPorNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="BuscarJugadoresPorNombreUsuarioResult" nillable="true" type="q5:ArrayOfJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorInvitado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarJugadorInvitadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="AgregarJugadorInvitadoResult" nillable="true" type="q6:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarJugadorInvitado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarJugadorInvitadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarJugadorInvitadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolcitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="solicitud" nillable="true" type="q7:Amistad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarSolcitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarSolcitudAmistadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSolcitudAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="solicitud" nillable="true" type="q8:Amistad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarSolcitudAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarSolcitudAmistadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchivarAmistad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="solicitud" nillable="true" type="q9:Amistad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchivarAmistadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ArchivarAmistadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaAmigos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaAmigosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="ObtenerListaAmigosResult" nillable="true" type="q10:ArrayOfAmistad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesDeAmistadPorJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSolicitudesDeAmistadPorJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="ObtenerSolicitudesDeAmistadPorJugadorResult" nillable="true" type="q11:ArrayOfAmistad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarParticipantesAPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="sala" nillable="true" type="q12:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarParticipantesAPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarParticipantesAPartidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="sala" nillable="true" type="q13:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPartidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalaExistente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarSalaExistenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="BuscarSalaExistenteResult" nillable="true" type="q14:Sala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConectarConSala">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadoresConectados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJugadoresConectadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerJugadoresConectadosResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarPersonaje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombrePersonaje" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarPersonajeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="validarPersonajesSeleccionados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cantidadJugadores" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validarPersonajesSeleccionadosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosYPersonajes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosYPersonajesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerUsuariosYPersonajesResult" nillable="true" type="q16:ArrayOfKeyValueOfstringValueTupleOfstringintU6ho3Bhd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpezarPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpezarPartidaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmpezarJuego">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarNumeroJugadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarJugadorAJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroJugadores" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarJugadorAJuegoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCartasSobrantes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCartasSobrantesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" minOccurs="0" name="ObtenerCartasSobrantesResult" nillable="true" type="q17:ArrayOfCarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartidaPorAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreAdministrador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroSala" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroJugadores" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarPartidaPorAdministradorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreDelUsusarioEnTurno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMazoJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreJugador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMazoJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" minOccurs="0" name="ObtenerMazoJugadorResult" nillable="true" type="q18:ArrayOfCarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosHistorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosHistorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BibliotecaClases" minOccurs="0" name="ObtenerDatosHistorialResult" nillable="true" type="q19:ArrayOfSala" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenrParticipantesDeJuego">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identificadorSala" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenrParticipantesDeJuegoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenrParticipantesDeJuegoResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>