Connected Services/ServicioGloom/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlbibliotecaClases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carta" nillable="true" type="tns:Carta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarta" nillable="true" type="tns:ArrayOfCarta" />
  <xs:complexType name="Carta">
    <xs:sequence>
      <xs:element minOccurs="0" name="identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carta" nillable="true" type="tns:Carta" />
  <xs:complexType name="ArrayOfChat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chat" nillable="true" type="tns:Chat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChat" nillable="true" type="tns:ArrayOfChat" />
  <xs:complexType name="Chat">
    <xs:sequence>
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chat" nillable="true" type="tns:Chat" />
</xs:schema>