Connected Services/ServicioGloom/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.169.88:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfstringint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" nillable="true" type="xs:string" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfstringint" nillable="true" type="tns:ValueTupleOfstringint" />
  <xs:complexType name="ValueTupleOfstringArrayOfValueTupleOfstringintU6ho3Bhd">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" nillable="true" type="xs:string" />
      <xs:element name="Item2" nillable="true" type="tns:ArrayOfValueTupleOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfstringArrayOfValueTupleOfstringintU6ho3Bhd" nillable="true" type="tns:ValueTupleOfstringArrayOfValueTupleOfstringintU6ho3Bhd" />
  <xs:complexType name="ArrayOfValueTupleOfstringint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfstringint" type="tns:ValueTupleOfstringint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfstringint" nillable="true" type="tns:ArrayOfValueTupleOfstringint" />
</xs:schema>